
<div class="card card-solid">
    <div class="card-body">
      <div class="row">
        <div class="col-12 col-sm-6">
          <h3 class="d-inline-block d-sm-none">Konecta impulsa su hoja de ruta hacia la transformación digital          </h3>
          <div class="col-6">
            <img src="assets/images/epiron-logo-223x300.jpg" class=" product-image" alt="Product Image">
          </div>
          <div class="col-6 product-image-thumbs">
          
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <h3 class="my-3">CUSTOMER EXPERIENCE & OMNICANALIDAD: LA APUESTA ARGENTINA          </h3>
          <p>Llega otro gran momento Konecta: el lanzamiento de la tercera versión de su producto estrella Epiron – Omnicanal, el software de gestión omnicanal con nuevas y más funcionalidades y un bonus track muy APP!.

          </p>

          <hr>
          
          

          <h4 class="mt-3">Somos globales <small>Argentina, Brasil , Chile Perúu, México, Portugal, Marruecos, Colombia</small></h4>
         

          <div class="bg-gray py-2 px-3 mt-4">
            <h2 class="mb-0">
            
            </h2>
            <h4 class="mt-0">
              <small>Soluciones a medida para la mejor experiencia cliente BPO y Contact Center </small>
            </h4>
          </div>

          <div class="mt-4">
          
            
            <div class="btn btn-default btn-lg btn-flat">
              <a href="https://www.grupokonecta.com/somos-konecta/quienes-somos/" class="dropdown-item">
                <i class="fas fa-heart fa-lg mr-2"></i> Quienses somos 
                
              </a>
            </div>
          </div>

          <div class="mt-4 product-share">
            <a href="#" class="text-gray">
              <i class="fab fa-facebook-square fa-2x"></i>
            </a>
            <a href="#" class="text-gray">
              <i class="fab fa-twitter-square fa-2x"></i>
            </a>
            <a href="#" class="text-gray">
              <i class="fas fa-envelope-square fa-2x"></i>
            </a>
            <a href="#" class="text-gray">
              <i class="fas fa-rss-square fa-2x"></i>
            </a>
          </div>

        </div>
      </div>
      <div class="row mt-4">
        <div class="col-6 col-sm-6">
          <div class="card ">
            <div class="card-header bg-grays">
              <h3 class="card-title">Title</h3>
    
            </div>
            <div class="card-body">
              <img src="assets/images/Lanzamiento-Epiron-Omnicanalidad_fin.jpg" class="img-circle product-image" alt="Product Image">
              <h4>Desde hace más de 12 años, la empresa invierte en innovación e integración de soluciones</h4>
              <p>
                “Ser parte de este proyecto, te llena de la energía que surge de los que se animan a innovar, a crear algo distinto y a mejorar para brindar más y mejores servicios de atención al cliente. En un mundo digitalizado siempre nos sumamos a la vanguardia y estamos conectados a lo nuevo. Esto se nota en nuestros niveles de satisfacción de usuario final que se mantienen constantes en el 90%”.
              </p>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
              Footer
            </div>
            <!-- /.card-footer-->
          </div>

          
        
        </div>
       
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->

