.social_icon span{
  font-size: 60px;
  margin-left: 10px;
  color: #FFC312;
  }

  .social_icon span:hover{
    color: white;
    cursor: pointer;
    }
    
    .card-header h3{
    color: white;
    }
    
    .social_icon{
    position: absolute;
    right: 20px;
    top: -45px;
    }
    
    .input-group-prepend span{
    width: 50px;
    background-color: #FFC312;
    color: black;
    border:0 !important;
    }
    
    input:focus{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;
    
    }
    h3 {
      color:darkslategray !important;
   }
    .remember{
    color: white;
    }
    
    .remember input
    {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
    }
    
    .login_btn{
    color: black;
    background-color: #FFC312;
    width: 100px;
    font-size: 19px;
    }
    
    .login_btn:hover{
    color: black;
    background-color: rgb(112, 126, 189);
    }
  
 
    
/* .loging-main-section{
  margin: 0 outo;
  padding-top: 130px;
  padding: 0;
}
.loging-modal-content{
  background-color:#848484;
  opacity: .95;
  margin: 0 18px;
  box-shadow: 0px 0px 0px #664a4a;
  
}

.loging-user-image{
 
  margin-top:-50px;
  margin-top:-35px;
}
.loging-user-image img{ 
  height: 00px;
  width: 100px;
  border-radius: 5px;
  box-shadow: 0px 0px 0px #848484;
}

.form.group{
  margin-bottom: 25px;
} 
.form.group input{
  height: 42px;
  border-radius: 5px;
  border: 0px;
  font-size: 18px;
  padding-left: 54px
}



.dominios{
  padding-top: 25px;
}
button{
  width: 40%;
  margin: 5px 0 25px;
}
.btn {
  background-color: #27c2a2;
  color: #fff;
  font-size: 19px;
  padding: 7px 14px;
  border-radius: 5px;
  border-bottom: 4px solid #219882;
}

.btn:hover, .btn:focus{
  background-color: #27c2a2!important;
  border-bottom: 4px solid #25a890!important;
} */
