<div class="container">


<!-- TODO: This is for server side, there is another version for browser defaults -->
  <div class="row">
    
    <form #ressetForm="ngForm" class="form-inline" (submit)="retriveWindowsUser()" novalidate>
      <div class="form-group">
        <div class="col-sm-10">
          <input type="text" class="form-control" #inputDNI name="inputDNI" placeholder="DNI" [(ngModel)]='req.dni' required>
          <div  *ngIf='inputDNI.invalid && (inputDNI.dirty || inputDNI.touched)' class="invalid-feedback">
            <div *ngIf="inputDNI.errors.required"> DNI is required</div>
           
        </div > 
        </div>
      </div>
      <div class="form-group" >
      
        <div class="col-sm-10">
          <input type="text" class="form-control"  #inputNroTicket  name ="inputNroTicket"  placeholder="NroTicket"
            [(ngModel)]='nroTicket'>
        </div>
       
      </div>
      <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-outline-warning" ><i class="fa fa-search"></i></button>
          
        </div>
      </div>
    </form>

  </div>

  <!-- resultados -->
  <div class="row">
 
      <div class="col-6" >
        <div class=" ">
          <label for="inputEmpleadoFullName">Empleado</label>
          <input type="text" class="form-control is-valid" #inputEmpleadoFullName name ="inputEmpleadoFullName" placeholder="Nombre"
            [(ngModel)]="currentEmpleado.ApeNom" disabled>
        </div>
    
      </div>
      <div class="col-6" >
        <div class="">
          <label for="inputCuenta">Cuenta</label>
          <input type="text" class="form-control is-valid"  #inputCuenta name ="inputCuenta"  placeholder="Cuenta"
            [(ngModel)]="currentEmpleado.Cuenta" disabled>
        </div>
      </div>  
    </div>





  <div class="row">

      <div class="col-6" >
        
        <div class="form-group">
          <label for="inputCargo">Cargo</label>
          <input type="text" class="form-control is-valid" #inputCargo name="inputCargo" placeholder="Cargo"
            [(ngModel)]="currentEmpleado.Cargo" disabled>
        </div>
      </div>
      <div class="col-6" >
        <div class="form-group">
          <label for="inputSubarea">Subarea</label>
          <input type="text" class="form-control is-valid" id="inputSubarea" name="inputSubarea" placeholder="Subarea"
            [(ngModel)]="currentEmpleado.Subarea" disabled>
        </div>
      </div>  
    </div>


<div class="row">
    <div class="col-sm-9" >
      <app-error-box-container [globalError]="globalError"></app-error-box-container>
  </div>
  </div>

</div>
<div class="row mt-5">
  <div class="col">
    
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <!-- <th scope="col">Id</th> -->
          
          <th scope="col">Usuario windows</th>
          <th scope="col">Dominio</th>
          <!-- <th scope="col">Sexo</th> -->
          <th scope="col">Resetear</th>
          <th scope="col">Desbloquear</th>
        </tr>
      </thead>
      <tbody>
        <!-- <tr *ngFor="let item of winsowsUserList | paginate: {itemsPerPage: 7, currentPage: pageActual}; index as i"
        (click)="grid_singleClick(item)" (dblclick)="grid_doubleClick(item)"> -->
        <tr *ngFor="let item of winsowsUserList ; index as i"
        (click)="grid_singleClick(item)" (dblclick)="grid_doubleClick(item)">

          <th scope="row"> {{i+1}}</th>
          <!-- <td>{{item.Emp_id}}</td> -->
            <td>{{item.WindowsUser}}</td>
          <td>{{item.Dominio}}</td>
          <!-- <td>{{item.Sexo == 1 ? 'H' : 'M'}}</td> -->
          <td>
            <button class="btn btn-primary" (click)="selectedWindowsUser(item)" data-toggle="modal" data-target="#resetModal">Resetear</button>
            
          </td>
          <td>
            <button class="btn btn-warning" (click)="selectedWindowsUser(item)" data-toggle="modal" data-target="#unlockModal">Desbloquear</button>
          </td>
        
        </tr>

      </tbody>
    </table>
    <!-- <pagination-controls (pageChange)="pageActual = $event"></pagination-controls> -->
  </div>

  <div class="modal fade" id="resetModal" tabindex="-1" role="dialog" aria-labelledby="resetlLabel">
   <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Confirmación de reseteo</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
         
        <div class="md-form mb-5">
            <div class="spinner-container" *ngIf="showSpinner === true" >
                <mat-spinner  [diameter]="30" [color]="Warn"></mat-spinner> 
                <span>Intentando resetear</span>
             </div>
          <i class="fa fa-key-skeletongrey-text"></i>
          <div [hidden]="afterRessetOrUnlock" >Se procederá a resetear el Usuario Windows <strong>{{selectedWindosUser.WindowsUser}} </strong> del dominio
            <strong>{{selectedWindosUser.Dominio}}</strong> .
           </div>
           <div [hidden]="!afterRessetOrUnlock" > {{apiResponseMessage}}   </div>
        </div>
      
      
      </div>
      <div class="modal-footer d-flex justify-content-center">
        
        <button  [hidden]="afterRessetOrUnlock" type="button" class="btn btn-primary" (click)="reset()">Confirmar</button>
        <button #btnCloseResset type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()" >Cerrar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="unlockModal" tabindex="-1" role="dialog" aria-labelledby="unlockLabel">
  <div class="modal-dialog" role="document">
   <div class="modal-content">
     <div class="modal-header text-center">
       <h4 class="modal-title w-100 font-weight-bold">Confirmación de desbloqueo</h4>
       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
         <span aria-hidden="true">&times;</span>
       </button>
     </div>
     <div class="modal-body mx-3">
       
        <div class="spinner-container" *ngIf="showSpinner === true" >
            <mat-spinner  [diameter]="30" [color]="Warn"></mat-spinner> 
            <span>Intentando desbloquear</span>
         </div>
       <div class="md-form mb-5">
         
         <i class="fa fa-key-skeletongrey-text"></i>
         <div [hidden]="afterRessetOrUnlock" >Se procederá a desbloquear el Usuario Windows <strong>{{selectedWindosUser.WindowsUser}} </strong> del dominio
           <strong>{{selectedWindosUser.Dominio}}</strong> .
          </div>
          <div [hidden]="!afterRessetOrUnlock" > {{apiResponseMessage}}   </div>
       </div>
     
     
     </div>
     <div class="modal-footer d-flex justify-content-center">
       
       <button [hidden]="afterRessetOrUnlock"  type="button" class="btn btn-primary" (click)="unlock()">Confirmar</button>
       <button #btnCloseUnlock type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Cerrar</button>
     </div>
   </div>
 </div>
</div>
