 <!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
 <!-- Brand Logo -->
 <a href="index3.html" class="brand-link">
  <img src="assets/images/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
       style="opacity: .8">
  <span class="brand-text font-weight-light">CELAM</span>
  </a>

  <div class="sidebar">
       <!-- Sidebar user panel (optional) -->
       <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          
          <img [src]="providerPhotoUrl" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block">  {{apellidoNombre}}</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

            <li class="nav-item has-treeview menu-open">
                <a href="#" class="nav-link active">
                  <i class="nav-icon fas fa-tachometer-alt"></i>
                  <p>
                    Gestión 
                    <i class="right fas fa-angle-left"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="./index.html" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Stock </p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="./index2.html" class="nav-link active">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Cotizaciones v2</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="./index3.html" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Proveedores </p>
                    </a>
                  </li>
                </ul>
              </li>


          <li class="header">Gestión</li>
          <li class="active treeview menu-open">
            <a href="#" class="text-bold">
              <i class="fa fa-dashboard"></i> <span>Proveedores</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
    
           
              <li>
                <a [routerLink]="['provider']" routerLinkActive="active">
                  <i class="fa fa-user-circle text-primary "></i> Lista proveedores </a>
              </li>
              <li>
                <a [routerLink]="['providerCreate']" routerLinkActive="active">
                  <i class="fa fa-user-circle text-primary "></i>Alta</a>
              </li>
    
              <li>
                <a [routerLink]="['patientCreate']" routerLinkActive="active">
                  <i class="fa fa-user-circle text-primary "></i>Calendario general</a>
              </li>
              <li><a [routerLink]="['providerQuotationRequest']" routerLinkActive="active" class="text-success"><i
                    class="fa fa-list text-success"></i>Cotizaciones proveedores</a></li>
    
            </ul>
          </li>
    
    
    
          <li class="treeview">
            <a href="#" class="text-bold">
              <i class="fa fa-share "></i> <span>Administración</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
    
              <li class="treeview">
                <a href="#">
                  <i class="fa fa-caret-right text-success "></i> Altas
                  <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                  </span>
                </a>
                <ul class="treeview-menu">
                  <li>
                    <a [routerLink]="['providerCreate']" routerLinkActive="active">
                      <i class="fa fa-user-circle text-primary "></i> Alta proveedor</a>
                  </li>
                  <li>
                    <a [routerLink]="['patientCreate']" routerLinkActive="active">
                      <i class="fa fa-user-circle text-primary "></i>Alta paciente</a>
                  </li>
    
                </ul>
              </li>
    
              <li class="treeview">
                <a href="#"><i class="fa fa-caret-right text-success"></i> Consultas
                  <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                  </span>
                </a>
                <ul class="treeview-menu">
                  <li><a [routerLink]="['provider']" routerLinkActive="active"><i class="fa fa-list "></i>
                      provideres</a></li>
                  <li><a [routerLink]="['patientList']" routerLinkActive="active"><i class="fa fa-list"></i> Consultar
                      pacientes</a></li>
                  <!-- <li class="treeview">
                          <a href="#"><i class="fa fa-circle-o"></i> Level Two
                            <span class="pull-right-container">
                              <i class="fa fa-angle-left pull-right"></i>
                            </span>
                          </a>
                          <ul class="treeview-menu">
                              <li><a [routerLink]="['provider']" routerLinkActive="active"><i class="fa fa-list "></i> Consultar provideres</a></li>
                              <li><a [routerLink]="['patientList']" routerLinkActive="active"><i class="fa fa-list"></i> Consultar pacientes</a></li>
                              
                          </ul>
                        </li> -->
                </ul>
              </li>
    
    
              <li><a [routerLink]="['provider']"><i class="fa fa-book text-green"></i>Agendas</a></li>
            </ul>
          </li>
          <li class="header">Testings </li>
          <li class="treeview">
            <a href="#">
              <i class="fa fa-files-o"></i>
              <span>Test </span>
              <span class="pull-right-container">
                <span class="label label-primary pull-right">4</span>
              </span>
            </a>
            <ul class="treeview-menu">
              <li><a class="dropdown-item" [routerLink]="['testTables']" routerLinkActive="active"><i
                    class="fa fa-user-md"></i> Tables</a></li>
              <li><a [routerLink]="['reactiveFornmValidations']" routerLinkActive="active"><i class="fa fa-user-md"></i> Test
                  Reactive Forms Validations </a></li>
              <li><a [routerLink]="['testFormsControls']" routerLinkActive="active"><i class="fa fa-user-md"></i> Test form
                  controls: inputs</a></li>
              <li><a [routerLink]="['testFormsControlsAdminLTE']" routerLinkActive="active"><i class="fa fa-user-md"></i>
                  Test form controls: inputs AdminLTE</a></li>
              <li><a [routerLink]="['testFormsValidations']"><i class="fa fa-circle-o"></i> Test Forms Validations</a></li>
              <li><a [routerLink]="['testTimes']"><i class="fa fa-circle-o"></i> Test times</a></li>
              <li><a [routerLink]="['testControles']"><i class="fa fa-circle-o"></i> test Controles</a></li>
              <li><a [routerLink]="['TestIntersection']"><i class="fa fa-circle-o"></i> Test Range Intersection</a></li>
    
    
              <li><a [routerLink]="['CheckBoxList']"><i class="fa fa-circle-o"></i> checkBox List</a></li>
              <li><a [routerLink]="['AngGridTestBasic']"><i class="fa fa-circle-o"></i> AngGrid test basic</a></li>
              <li><a [routerLink]="['testGridParent']"><i class="fa fa-circle-o"></i> Grid parent</a></li>
    
    
    
            </ul>
          </li>
    
          <li class="header">Gestión</li>
          <li><a [routerLink]="['stock']"><i class="fa fa-circle-o text-red"></i> <span>Gestión de stock</span></a></li>
          <li><a [routerLink]="['stock/stockAlerts']"><i class="fa fa-circle-o text-yellow"></i> <span>Stock faltante</span></a></li>
          <li><a [routerLink]="['quotationRequest']"><i class="fa fa-circle-o text-aqua"></i> <span>Pedido de cotizaciones</span></a></li>
          
        </ul>
      </nav>
 



  </div>
  <!-- /.sidebar -->
</aside>