<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <!--Desarrollo-->
    <!--<add name="epironGestion_entities" connectionString="" providerName="System.Data.EntityClient"/>
    <add name="EpironConnectionString" connectionString="Data Source=AAVMBD03\SQL2008DESA;Initial Catalog=Epiron3GDesarrolloGestion;Persist Security Info = True;User ID=Epiron3Desarrollo_Servicio;Password=1A96C8A4-A550-4871-B577-A949362B9909" providerName="System.Data.SqlClient"/>
    <add name="EpironSecurity" connectionString="Data Source=AAVMBD03\SQL2008DESA;Initial Catalog=Epiron3GDesarrolloGestion;Persist Security Info = True;User ID=Epiron3Desarrollo_Servicio;Password=1A96C8A4-A550-4871-B577-A949362B9909" providerName="System.Data.SqlClient"/>
    <add name="BlockingModel" connectionString="Data Source=AAVMBD03\SQL2008DESA;Initial Catalog=Epiron3GDesarrolloGestion_Blocking;Persist Security Info = True;User ID=Epiron3Desarrollo_srvBlocking;Password=9055CD21-3F2A-4B3E-AB1E-C3F2DDBEBF50" providerName="System.Data.SqlClient"/>
    <add name="EpironConnectionStringReports" connectionString="Data Source=AAVMBD03\SQL2008DESA;Initial Catalog=Epiron3Desarrollo_Reports;Persist Security Info = True;User ID=Epiron3Desarrollo_ConnectionReports;Password=763D5AC4-C114-4B2F-AC14-11667A305270" providerName="System.Data.SqlClient"/>-->

    <!--Preproducción-->

    
    <add name="EpironConnectionString" connectionString="Data Source=172.22.14.71\SQL2008PREPROD;Initial Catalog=Epiron3PreproduccionGestion;Persist Security Info = True;User ID=Epiron3PreproduccionGestion_Servicio;Password=Epii1ron3Pr33producci0nGestiOn_Servi" providerName="System.Data.SqlClient"/>
    <add name="EpironSecurity" connectionString="Data Source=172.22.14.71\SQL2008PREPROD;Initial Catalog=Epiron3PreproduccionGestion;Persist Security Info = True;User ID=Epiron3PreproduccionGestion_Servicio;Password=Epii1ron3Pr33producci0nGestiOn_Servi" providerName="System.Data.SqlClient"/>
    <add name="BlockingModel" connectionString="Data Source=172.22.14.71\SQL2008PREPROD;Initial Catalog=Epiron3PreproduccionGestion_Blocking;Persist Security Info = True;User ID=Epiron3PreproduccionGestion_srvBlocking;Password=Epi1ron3Pr33pr0duccionGeestion_srvBlockin" providerName="System.Data.SqlClient"/>
    <add name="EpironConnectionStringReports" connectionString="Data Source=172.22.14.71\SQL2008DESA;Initial Catalog=Epiron3Desarrollo_Reports;Persist Security Info = True;User ID=Epiron3Desarrollo_ConnectionReports;Password=763D5AC4-C114-4B2F-AC14-11667A305270"
        providerName="System.Data.SqlClient"/>

  </connectionStrings>
</configuration>